<!--<div>{{ user | json }}</div>-->




    <h2>{{userdata.data.first_name | uppercase}} Details</h2>
    
  
      <label>id:
        <input [(ngModel)]="userdata.data.id" placeholder="name"/>
      </label><br/><br/>
 
      <label>FirstName:
        <input [(ngModel)]="userdata.data.first_name" placeholder="name"/>
      </label><br/><br/>
      <label>LastName:
        <input [(ngModel)]="userdata.data.last_name" placeholder="name"/>
      </label><br/><br/>
      <label>Email:
        <input [(ngModel)]="userdata.data.email" placeholder="name"/>
      </label>
    
   

